body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    
}

/* HEADER */

#header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    color: rgb(54,36,54);
}
#images-link{
    position: relative;
    padding-right: 35px;
    font-size: 16px;
    letter-spacing: 0.25px;
    top: 5px;
    cursor:pointer;
    text-decoration: none;
    color: rgb(54,36,54);   
}
#gmail-link{
    position: relative;
    padding-right: 19px;
    font-size: 16px;
    letter-spacing: 0.25px;
    top: 5px;
    cursor:pointer;
    text-decoration: none;
    color: rgb(54,36,54);
}
#apps-icon{
    position: relative;
    padding: 8px;
    margin-right: 22px;
    transform: scale(1.55);
    top: 5px;
    color: rgba(58, 45, 58, 0.733);
    cursor:pointer;
}
#sign-in-btn{
    background-color: #1a73e8;
    color: white;
    padding: 13px;
    width: 120px;
    height: 46px;
    margin-right: 1.2%;
    margin-top: 5px;
    font-size: 17px;
    letter-spacing: 0.25px;
    border-radius: 6px;
    border: none; 
    cursor:pointer;
}

/* BODY */

#body{
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
#experiment-txt{
    color: red;
    position: absolute;
    top: 50px;
    font-size: 1.1rem;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
}
#google-image{
    position: relative;
    top: 135px;
    transform: scale(1.26); 
}
#search-box-container{
    position: relative;
    display: flex;
    height: 58px;
    width: 735px;
    margin-top: 178px;
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;  
    border: 1px solid rgba(32, 32, 32, 0.137); 
}
#search-icon{
    position: relative;
    left: 18px;
    font-size: 1.3rem;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.63);
}
#search-box-container input{
    position:relative;
    font-size: 1.4rem;
    height: 40px;
    width: 490px;
    left: 35px; 
    color: rgba(0, 0, 0, 0.829);
    border-color: transparent;
    outline: transparent;
    text-decoration: none; 
}
#mic-icon{
    position: relative;
    width: 30px;
    height: 30px;
    left: 115px;
    cursor:pointer;
}
#lens-icon{
    transform: scale(0.16);
    position: relative;
    left: 60px;
    cursor:pointer;
}
#google-lucky-buttons{
    margin-top: 35px;
    position: relative;
}
#google-search-btn{
    position: relative; 
    font-size: 17.5px;
    width: 155px;
    height: 44px;
    margin-right: 9px;
    letter-spacing: 0.25px;
    border: none;
    color: rgba(51, 41, 41, 0.925);
    background-color: rgb(248,249,250);
    cursor:pointer;
}
#i-am-feeling-lucky-btn{
    position: relative;
    font-size: 17.5px;
    width: 178px;
    height: 44px;
    margin-left: 5px;
    letter-spacing: 0.25px;
    border: none;
    color: rgba(51, 41, 41, 0.925);
    background-color: rgb(248,249,250);
    cursor:pointer;
}
#language-container{
    position: relative;
    top: 40px;
    height: 30px;
    letter-spacing: 0.25px;  
}
#google-offer{
    color: rgb(77,84,86);
}
.language{
    padding: 5px;
    text-decoration: none;
} 

/* FOOTER */

#footer-container{
    display: flex;
    background-color: rgb(242,242,242);
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 117px;
    z-index: 10;
    width: 100%;
    bottom: 0;
}
#country{
    color: rgb(32,33,36);
    padding-top: 10px;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 0.25px;
    padding-left: 38px;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(218,220,224);
    padding-top: 23px;
    padding-bottom: 10px;
    margin-left: 0;
}
.footer-link{
    color: rgb(32,33,36);
    font-size: 1.1rem;
    padding-left: 33.5px;
    text-decoration: none;
    position: relative;
}
#footer-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}
#footer-right .footer-link{
    padding-left:40px ;
}
#footer-right .footer-link:last-child{
    position: relative;
    padding-right:43px ;
}

/* HOVOR */

#sign-in-btn:hover{
    background-color: #1468d6;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -20px;
}
#apps-icon:hover{
    background-color:  #92929221;

    border-radius: 20px;
}
#search-box-container:hover{
    box-shadow: 0 1px 15px -10px rgb(0, 0, 0);
}
#google-lucky-buttons button:hover{
    box-shadow: 0px 0px 2px 1px rgba(62, 64, 65, 0.274);
    border-radius: 4px;
}
.footer-link:hover{
    text-decoration: underline;
}
#header a:hover{
    text-decoration: underline;
}
.language:hover{
    text-decoration: underline;
}

@media all and (prefers-color-scheme: dark) {
    * {
        background-color:rgb(32,33,36);
        color: rgb(230, 230, 230);
    }
    #body{
        position: relative;
        top: 0px;
        height: calc(100vh - 1100px);
    }
    #google-search-btn #i-am-feeling-lucky-btn {
        border-color: rgb(48,49,52);
    }
    #header{
        background-color:rgb(32,33,36);   
    }
   #header>a{
        color:rgb(226,226,227);
    }
    #apps-icon{
        color:rgb(226,226,227);
    }
    #experiment-txt{
        color: red;
        position: absolute;
        top: 50px;
        font-size: 1.1rem;
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        border-radius: 10px;
    }
    #google-image{
        content: url("/img/google-dark.png");
        color:rgb(226,226,227);
    }
    #footer-container{
        background-color:rgb(23,23,23);   
    }
    #country, #footer{
        color: rgb(232, 234, 236);
        background-color:rgb(23,23,23);
    }
    #footer div{
        background-color:rgb(23,23,23);
    }
    #footer div a{
        color: rgb(232, 234, 236);
        background-color:rgb(23,23,23);
    }
    #sign-in-btn{
        background-color: #83b0eb;
        color: rgb(23,23,23);
    }
    #google-lucky-buttons button{
        background-color:rgb(48,49,52);
        color:rgb(226,226,227);
        border-radius: 4px;
    }
    #google-lucky-buttons button:hover{
        border: 0.5px solid rgb(97, 95, 95);
    }
    #search-box-container{
        border: 0.5px solid rgb(97, 95, 95);
    }
    #search-icon{
        color: rgb(187, 178, 178);
    }
    #google-offer{
        color: rgb(212, 202, 202);
    }
    #language-container a{
        color: #8bb1e2;
    }
    #footer{
        border-top: 1px solid rgb(32, 33, 36);
        flex-direction: row;
        justify-content: flex-start;
    }
}
@media all and (max-width: 1200px) {
    #footer-left{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }
    #footer-right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }
    #footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid rgb(218,220,224);
    }
    #footer-right .footer-link{
        padding-left:37px ;
    }
    #footer-right .footer-link:last-child{
        position: relative;
        padding-right:43px ;
    }
}
@media all and (max-width: 830px) {
    #header{
        height: 70px;
    }
    #body{
        height: calc(100vh - 70px);
    }
    #footer-container{
        height: 178px;
    }
    #footer-left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height:50% ;    
    }
    #footer-right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height:50% ;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid rgb(218,220,224);
        height: 110px;
        display: flex;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;    
    }
    #country{
        height: 1px;
        color: rgb(129,119,122);
        padding-top: 15px;
        position: relative;
        font-size: 1.2rem;
        letter-spacing: 0.25px;
        padding-left: 38px;
        height: 30px;  
    }
    .footer-link{
        color: rgb(112,117,126);
        font-size: 1.1rem;
        padding-right: 10px;
        text-decoration: none;
        position: relative;
    }
    #footer-right .footer-link:last-child{
        position: relative;
    }
}
@media all and (max-width: 760px) {
    #header{
        height: 70px;
    }
    #search-box-container{
        width: 95%;
    }
    
}
